
body {
    width: 100%;
    min-height: 100vh;
    height: max-content;
}

/* Documentation Main Container */

.doc-container {
    width: 90%;
    margin: 2rem auto 0;
    display:flex;
}

/* Sidebar */

.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0 0 160px;
    margin-right: 6rem;
}

.list-heading {
    padding: 1rem;
    border-bottom: 1px solid var(--black-light-shade);
}

.list-heading a {
    color: var(--black);
    font-weight: 700;
}

.list-sub-heading {
    margin: 0.5rem;
    padding-left: 30px;
}

.list-sub-heading .active {
    font-weight: 700;
    color: var(--primary-color);
}

.list-sub-heading li{
    font-size: 13px;
    list-style: none;
    padding: 0.7rem 0;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.list-sub-heading li a:hover{
    cursor: pointer;
    color : var(--primary-color);
}

.list-sub-heading a{
    display: flex;
    align-items: center;
    color : var(--black-shade);
    transition: all .3s ease-in-out;
}

/* Hiding sidebar for smaller screens */

@media screen and (max-width : 800px){
    .sidebar{
        display: none;
    }
}

/* Main Content */
.main-content {
    width: 75%;
    text-align: justify;
    line-height: 1.4rem;
}

.comp-showroom {
    /* These two colors are not being used anywhere else, hence no variable */
    background-color: #f0f0f0;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-evenly;
}

.comp-showroom-avatar {
    align-items: center;
}

.comp-showroom-alert {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.comp-showroom-input {
    flex-direction: column;
    gap: 1rem;
    padding-right: 6rem;
}

.comp-showroom-image {
    padding: 1rem;
}

.comp-showroom-text {
    flex-direction: column;
}

.comp-showroom-grid {
    /* These two colors are not being used anywhere else, hence no variable */
    background-color: #f0f0f0;
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    margin-top: 1rem;
    padding: 1rem 2rem;
}

.code-snippet{
    height: max-content;
    margin-bottom: 3rem;
}

.installation-code{
    margin: 0;
}

.component-code {
    max-height: 15rem;
    overflow: scroll;
}

.component-code::-webkit-scrollbar {
    width: 0.6rem;
}

.component-code::-webkit-scrollbar-track {
    background: var(--basic-color);
    border-radius: 5px;
    margin-block: 0.5rem;
}


.component-code::-webkit-scrollbar-thumb {
    background: var(--black-shade);
    border: 0.15rem solid var(--basic-color);
    cursor: pointer;
    border-radius: 5px;

}

.component-code::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

/* Highlight js */

.hljs{
    border-radius: 4px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

.prev-comp,.next-comp {
    display: flex;
    align-items: center;
    transition: all .2s ease-in-out;
    cursor: pointer;
}