.main-nav {
    background-color: white;
    padding: 0.2rem 1rem;
    display: flex;
    align-items: center;
    color:  var(--black);
    box-shadow: 0px 0px 10px 4px #fc764515;
    z-index: 1;
}

.nav-title {
    font-size: 1.7rem;
    color: var(--primary-color);
}

.nav-btn {
    margin-left: auto;
}

.social-links {
    display: flex;
    justify-content: space-between;
}

.nav-btn .link {
    color: var(--primary-color);
    font-size: 1.05rem;
}

.nav-btn .link .fa-linkedin {
    font-size: 1.2rem;
}

.nav-btn .link .fa-github {
    font-size: 1.2rem;
}

.nav-btn .link .fa-twitter {
    font-size: 1.18rem;
}

@media screen and (max-width: 800px) {
    .nav-btn .link {
        padding: 0;
    }
}