/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Global Scrollbar Styling */
::-webkit-scrollbar {
    width: 0.7rem;
}

::-webkit-scrollbar-track {
    background: var(--basic-color);
}


::-webkit-scrollbar-thumb {
    background: var(--black-shade);
    border: 0.15rem solid var(--basic-color);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--primary-color);
}

/* Remove list styles on ul, ol elements */
ul,
ol {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

img,
video,
iframe {
max-inline-size: 100%;
block-size: auto;
/* aspect-ratio: 2/1;
object-fit: contain | cover;
object-position: top center; */
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}