@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');


/* ||| Colors & Font Family */

:root {
    font-family: 'Montserrat', sans-serif;
    --primary-color: #fc7645ec;
    --primary-color-shade: #fca484ec;
    --accent-color: #5f48c7;
    --accent-color-shade: #8475c9;
    --basic-color: #C6C6C6;
    --basic-color-shade: #c6c6c6d3;
    --black: #282828;
    --black-shade: #353535;
    --black-light-shade: #d9d9d9;
    --off-white: #F7F7F7;
    --success: #62ce84;
    --warning: #fdcf79;
    --info: #c2ddff;
    --danger: #fd5f5f;
    --light-green: #c6f6d5;
    --light-yellow: #fde4b6;
    --light-blue: #c2ddff;
    --light-red: #fed7d7;
    --gray: #9a9a9a;
    font-size: 100%;
}


/* Text Color */

.primary-color {
    color: var(--primary-color);
}

.gray-color {
    color: var(--gray);
}

.white-color {
    color: white;
}


/* Background Colors */

.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-secondary-color {
    background-color: var(--primary-color-shade);
}

.bg-black-color {
    background-color: var(--black);
}

.bg-gray-color {
    background-color: var(--gray);
}


.bg-success-color {
    background-color: var(--success);
}

.bg-danger-color {
    background-color: var(--danger);
}

.bg-warning-color {
    background-color: var(--warning);
}

.bg-info-color {
    background-color: var(--info);
}

/* Light Background Colors */

.bg-ligth-green-color {
    background-color: var(--light-green);
}

.bg-ligth-red-color {
    background-color: var(--light-red);
}

.bg-ligth-yellow-color {
    background-color: var(--light-yellow);
}

.bg-ligth-blue-color {
    background-color: var(--light-blue);
}

.border-black {
    border: 1px solid var(--black);
}

/* ||| Typography */

/* Heading */
h1,.h1 {
    font-size: 3rem;
    line-height: 4rem;
}

h2,.h2 {
    font-size: 2rem;
    line-height: 2.5rem;
}

h3,.h3 {
    font-size: 1.5rem;
    line-height: 2rem;
}

h4,.h4 {
    font-size: 1rem;
    line-height: 1.5rem;
}

h5,.h5 {
    font-size: 1rem;
    line-height: 1.5rem;
}

/* Text */
.t3 {
    font-size: 3rem;
    line-height: 4rem;
}

.t2 {
    font-size: 2rem;
    line-height: 2.5rem;
}

.t1p5 {
    font-size: 1.5rem;
    line-height: 2rem;
}

.t1p2 {
    font-size: 1.2rem;
    line-height: 1.7rem;
}

.t1 {
    font-size: 1rem;
    line-height: 1.5rem;
}

.t0p75 {
    font-size: 0.75rem;
    line-height: 1rem;
}

.t0p5 {
    font-size: 0.5rem;
    line-height: 1rem;
}

.t-strike {
    text-decoration: line-through;
}

/* Font Weight */
.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.lightbold {
    font-weight: 500;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

/* Text Align */

.text-center {
    text-align: center;
}

/* ||| Spacing */

/* Padding */
.p-0 {
    padding: 0;
}

.p-xs {
    padding: 0.5rem;
}

.p-sm {
    padding: 1rem;
}

.p-md {
    padding: 1.5rem;
}

.p-lg {
    padding: 2rem;
}

.p-xl {
    padding: 2.5rem;
}

/* Margin */
.m-0 {
    margin: 0;
}

.m-xs {
    margin: 0.5rem;
}

.m-sm {
    margin: 1rem;
}

.m-md {
    margin: 1.5rem;
}

.m-lg {
    margin: 2rem;
}

.m-xl {
    margin: 2.5rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mt-3 {
    margin-top: 3rem;
}

/* ||| Border Radius */

.br-sm {
    border-radius: 5px;
}

.br-md {
    border-radius: 10px;
}

.br-lg {
    border-radius: 15px;
}

.br-full {
    border-radius: 50%;
}


/* List */

.list-non-bullet {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
}

.td-none {
    text-decoration: none;
}