

/*=============================================
=            Card with Badge            =
=============================================*/

.card-badge {
    display: flex;
    flex-flow: column wrap;
    background: white;
    flex-basis: 18.75rem;
    margin: 1rem 0;
    align-self: flex-start;
    cursor: pointer;
    position: relative;
}

.card-header {
    display: flex;
    flex-flow: column wrap;
    text-align: left;
}

.card-header-txt {
    padding: 0 1rem;
}

.card-header-txt h3{
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.card-btn {
    margin: 0.5rem;
}

.card-btn:hover {
    background-color: var(--primary-color-shade);
    cursor: pointer;
    transition: all 0.3s;
}

.badge-in-card {
    position: absolute;
    top: 7px;
    left: -2px;
    background-color: var(--primary-color-shade);
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    padding: 0.1rem 0.3rem;
    width: fit-content;
}

.card-floating-icon {
    position: absolute;
    top: 4px;
    right: 2px;
    font-size: 1.2rem;
    border-radius: 50%;
    padding: 0.3rem;
}

.card-floating-icon:hover {
    background-color: var(--black-light-shade);
}

/*=============================================
=            Card with Text Overlay            =
=============================================*/

.card-txt-overlay {
    position: relative;
    box-shadow: none;
}

.card-txt-overlay .badge-in-card {
    display: none;
}

.overlay-msg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--off-white);
    opacity: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*=============================================
=            Horizontal Card            =
=============================================*/

.card-horizontal {
    display: flex;
    flex-direction: row;
    background: white;
    width: 100%;
    max-width: 31.25rem;
    margin: 1rem 0;
    border-radius: 5px;
    align-self: flex-start;
    cursor: pointer;
}

.card-horizontal .img-in-horizontal img{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.card-horizontal .card-header {
    min-width: 15.5rem;
}

.card-horizontal .card-header-txt {
    flex-grow: 1;
    padding-left: 0;
}

.card-horizontal .card-btn {
    margin-left: 0;
}

.card-horizontal .discount {
    display: block;
}


/*=============================================
=  Horizontal to Vertical in smaller devices =
=============================================*/

@media screen and (max-width : 768px){
    .card-horizontal {
        flex-direction: column;
        flex-basis: 18.75rem;
    }
    .card-horizontal .card-header {
        min-width: 0;
    }
    .card-horizontal .img-in-horizontal img{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .card-horizontal .card-header-txt {
        flex-grow: 0;
        padding: 0 1rem;
    }
    .card-horizontal .card-btn {
        margin: 0.5rem;
    }
    
    .card-horizontal .discount {
        display: inline;
    }
}


/*=============================================
=            Text Only Card            =
=============================================*/

.card-txt-only {
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
}


/*=============================================
=            Card with Dismiss            =
=============================================*/

.card-dismiss {
    background-color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
    max-width: 20rem;
    position: relative;
}

.card-dismiss .fas {
    position: absolute;
    right: 17px;
    top: 18px;
    color: var(--black);
    font-size: 1.1rem;
}

.card-dismiss .fas:hover {
    cursor: pointer;
    color: var(--gray);
}


/*=============================================
=            Card Shadow            =
=============================================*/

.card-shadow {
    box-shadow: 0 0 5px 5px var(--black-light-shade);
}