<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input | Blaze UI</title>

    <link href="/css/shared.css" rel="stylesheet">
    <link href="/Components/input/input.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css" />
</head>

<body>
    <!------------ 
            Navbar
         ------------>
    <nav class="main-nav">
        <a href="/index.html" class="nav-logo td-none">
            <img src="/assets/blaze-icon.png" width="70px">
        </a>
        <a href="/index.html" class="nav-title td-none bold">
            Blaze UI
        </a>
        <ul class="social-links list-non-bullet nav-btn">
            <li class="list-item-inline"><a class="link" href="https://www.linkedin.com/in/tarandeep-s1ngh/"
                    target="_blank"><i class="fab fa-linkedin"></i></a></li>

            <li class="list-item-inline"><a class="link" href="https://github.com/Tarandeep-s1ngh" target="_blank"><i
                        class="fab fa-github"></i></a></li>

            <li class="list-item-inline"><a class="link" href="https://twitter.com/Tarandeep_s1ngh" target="_blank"><i
                        class="fab fa-twitter"></i></a></li>
        </ul>
    </nav>

    <div class="doc-container">
        <!------------
                Sidebar
             ------------>
        <aside class="sidebar">
            <!-----------------
                Get Started Sidebar
                ------------------->
            <div class="nested-list">
                <div class="list-heading">
                    <a href="/documentation/introduction.html">Get Started</a>
                </div>
                <ul class="list-sub-heading">
                    <li>
                        <a href="/documentation/introduction.html">Introduction</a>
                    </li>
                    <li>
                        <a href="/documentation/colors.html">Colors</a>
                    </li>
                    <li>
                        <a href="/documentation/typography.html">Typography</a>
                    </li>
                </ul>
            </div>

            <!-----------------
                Component Sidebar
                ------------------->
            <div class="nested-list">
                <div class="list-heading">
                    <a href="">Components</a>
                </div>
                <ul class="list-sub-heading">
                    <li>
                        <a href="/Components/avatar/avatar.html">Avatar</a>
                    </li>
                    <li>
                        <a href="/Components/alert/alert.html">Alert</a>
                    </li>
                    <li>
                        <a href="/Components/badge/badge.html">Badge</a>
                    </li>
                    <li>
                        <a href="/Components/button/button.html">Button</a>
                    </li>
                    <li>
                        <a href="/Components/card/card.html">Card</a>
                    </li>
                    <li>
                        <a href="/Components/image/image.html">Image</a>
                    </li>
                    <li>
                        <a class="active" href="">Input</a>
                    </li>
                    <li>
                        <a href="/Components/text-utilities/text-utilities.html">Text Utilities</a>
                    </li>
                    <li>
                        <a href="/Components/list/list.html">List</a>
                    </li>
                    <li>
                        <a href="/Components/navigation/navigation.html">Navigation</a>
                    </li>
                    <li>
                        <a href="/Components/modal/modal.html">Modal</a>
                    </li>
                    <li>
                        <a href="/Components/rating/rating.html">Rating</a>
                    </li>
                    <li>
                        <a href="/Components/toast/toast.html">Toast</a>
                    </li>
                    <li>
                        <a href="/Components/grid/grid.html">Simplified Grid</a>
                    </li>
                    <li>
                        <a href="/Components/slider/slider.html">Slider</a>
                    </li>
                </ul>
            </div>
        </aside>

        <!-----------------
            Main Content
            ------------------->
        <main class="main-content">
            <!-----------------
                Input Component
                ------------------->
            <h2 class="mb-1">Input</h2>
            <p>Inputs are used to get information from the user. Keyboard and mouse can be used for providing or
                changing data. In order to only use the Input Component from <span class="primary-color">Blaze UI</span>
                in your project, copy and paste the below code in the head tag of your html document.
                <div class="code-snippet">
                    <pre>
                            <code class="language-html">
                &lt;link rel="stylesheet" href="https://blaze-ui.netlify.app/components/input/input.css" /&gt;
                            </code>
                        </pre>
                </div>
            </p>

            <!-----------------
                Primary Input
                ------------------->
            <h3 class="mb-1">Primary Input</h3>
            <p>Primary Inputs include textarea input , text input , number input and password input. These can be used
                by applying the class name <span class="primary-color">input-primary</span> to the parent container. You
                can copy the html part from below code snippet.</p>

            <div class="comp-showroom comp-showroom-input">
                <div class="input-primary">
                    <label>Textarea *</label>
                    <textarea placeholder="Write something..."></textarea>
                </div>
                <div class="input-primary">
                    <label>Username *</label>
                    <input type="text" placeholder="Enter Username"></input>
                </div>
                <div class="input-primary">
                    <label>Number *</label>
                    <input type="number" placeholder="Enter Number"></input>
                </div>
                <div class="input-primary">
                    <label>Password *</label>
                    <input type="password" placeholder="Enter Password"></input>
                </div>
            </div>

            <div class="code-snippet">
                <pre>
                        <code class="language-html component-code">
                            &lt;div class="input-primary"&gt;
                                &lt;label&gt;Textarea *&lt;/label&gt;
                                &lt;textarea placeholder="Write something..."&gt;&lt;/textarea&gt;
                            &lt;/div&gt;
                            &lt;div class="input-primary"&gt;
                                &lt;label&gt;Username *&lt;/label&gt;
                                &lt;input type="text" placeholder="Enter Username"&gt;&lt;/input&gt;
                            &lt;/div&gt;
                            &lt;div class="input-primary"&gt;
                                &lt;label&gt;Number *&lt;/label&gt;
                                &lt;input type="number" placeholder="Enter Number"&gt;&lt;/input&gt;
                            &lt;/div&gt;
                            &lt;div class="input-primary"&gt;
                                &lt;label&gt;Password *&lt;/label&gt;
                                &lt;input type="password" placeholder="Enter Password"&gt;&lt;/input&gt;
                            &lt;/div&gt;
                        </code>
                    </pre>
            </div>

            <!-----------------
                Input validation
                ------------------->
            <h3 class="mb-1">Input validation</h3>
            <p>Validation is done while user enters the input. This can be implemented by applying the class name <span
                    class="primary-color">input-validation</span>. You can copy the html part from below code snippet.
            </p>

            <div class="comp-showroom">
                <form action="" class="input-validation" novalidate>
                    <label for="username">Username *</label>
                    <input type="text" placeholder="Enter Username" required />

                    <label for="email-input">Email *</label>
                    <input type="email" placeholder="Enter Email" required />

                    <label for="password">Password *</label>
                    <input type="password" class="error-psw" placeholder="Enter Password" required />
                    <div class="error-msg">Any type of password error!</div>
                </form>
            </div>

            <div class="code-snippet">
                <pre>
                        <code class="language-html component-code">
                        &lt;form action="" class="input-validation" novalidate&gt;
                            &lt;label for="username"&gt;Username *&lt;/label&gt;
                            &lt;input type="text" placeholder="Enter Username" required /&gt;
    
                            &lt;label for="email-input"&gt;Email *&lt;/label&gt;
                            &lt;input type="email" placeholder="Enter Email" required /&gt;
    
                            &lt;label for="password"&gt;Password *&lt;/label&gt;
                            &lt;input type="password" class="error-psw" placeholder="Enter Password" required /&gt;
                            &lt;div class="error-msg"&gt;Passowrd must be at least 8 characters long!&lt;/div&gt;
                        &lt;/form&gt;
                        </code>
                    </pre>
            </div>

            <!-----------------
                Footer
                ------------------->
            <footer class="semibold">
                <div class="prev-comp">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" role="img" class="iconify iconify--grommet-icons" width="1em" height="1em"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <path fill="none" stroke="currentColor" stroke-width="2" d="M15 6l-6 6l6 6"></path>
                    </svg>
                    <a href="/Components/image/image.html">Image</a>
                </div>

                <div class="next-comp">
                    <a href="/Components/text-utilities/text-utilities.html">Text Utilities</a>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                        aria-hidden="true" role="img" class="iconify iconify--ic" width="1em" height="1em"
                        preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                        <path d="M10 6L8.59 7.41L13.17 12l-4.58 4.59L10 18l6-6z" fill="currentColor"></path>
                    </svg>
                </div>
            </footer>

        </main>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
    <script>
        hljs.highlightAll();
    </script>
</body>

</html>