
.btn-float {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: 2px solid transparent;
    background-color: var(--primary-color);
}

.btn-float:hover {
    cursor: pointer;
}

.btn-link {
    border: none;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-primary {
    padding: 0.5rem 1.5rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.btn-primary:hover {
    cursor: pointer;
}

.btn-accent {
    background-color: var(--accent-color);
}

/* This color is used only once in this whole project, hence no variable */
.btn-danger {
    background-color: #fd2828; 
}

.btn-icon {
    border: none;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-icon:hover {
    cursor: pointer;
}

.btn-icon-txt {
    padding: 0.5rem 1.5rem;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

.icon-in-btn {
    font-size: 1.5rem;
}


.icon-in-btn-txt {
    color: white;
}

.btn-outline {
    border: 2px solid var(--primary-color);
    background-color: white;
    color: var(--black);
    font-weight: 500;
}

.btn-float-icon {
    color: white;
}