
.toast {
    max-width: 33rem;
    padding: 0.5rem;
}

.toast-custom {
    max-width: 18rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toast-title {
    display: flex;
    align-items: center;
}

.toast-custom .toast-title * {
    font-size: 1.4rem;
    margin-right: 0.5rem;
}