
.modal {
    max-width: 37ch;
    background-color: white;
    padding: 0.7rem;
    padding-top: 0.5rem;
    border: 1px solid var(--gray);
    border-radius: 5px;
}

.modal-title {
    position: relative;
}

.modal-icon {
    border: none;
    background-color: white;
    position: absolute;
    right: 1%;
    border-radius: 50%;
}

.modal-icon:hover {
    cursor: pointer;
    background-color: var(--off-white);
}
.modal-footer {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}